* {
    background: #333;
    font-family: sans-serif;

}
html{
    font-size: 63.5%;
}

.container {
    font-size: 3rem;
    display: grid;
    height: 100vh;
    margin: 5rem auto;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 20rem 20rem;
    grid-auto-rows: minmax(20rem, auto);
    justify-content: center;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
  
}
   

.item {
    padding-top: 2rem;
    font-size: 3.5rem;
    color: white;
    text-align: center;

    &--1 {
        background-color: red;
        
       
      
    }
    &--2{
        background-color: blue;
      
      

    }
    &--3 {
        background-color: greenyellow;
    }
    &--4 {
        background-color: black;
     
    }
    &--5 {
        background-color: gray;

    }
    &--6 {
        background-color: violet;
    
    }
    
}