*{
    background: white;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}
.container {
    display: grid;
    height: 100vh;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10rem minmax(20rem, 1fr) 10rem;
    grid-gap: 1rem;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "card card card"
        "card1 card1 card1"
        "card2 card2 card2"
        "footer footer footer";


}

.item {
    background-color: #333;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    color: white;
    &--1 {
        grid-area: nav;
    }
    &--2 {
        grid-area: header;
    }
    &--3 {
        grid-area: card;
    }
    &--4 {
        grid-area: card1;
    }
    &--5 {
        grid-area: card2;
    }

    &--6 {
        grid-area: footer;
    }

   
}